<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Приложение ASP.NET</title> 
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />  
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
</head>
<body>   
    <div>
        @RenderBody()              
    </div>      
</body>
</html>
